.header{
  display:flex; 
  justify-content:space-between;
  border:1px solid black
}
.logo1{
  width:150px;
}
.nav-items > ul{
  display:flex;
  list-style: none;
  font-size:24px;

}
.nav-items{
  padding:0px 20px;
}
.nav-items >ul>li{
  padding:10px;
  margin:10px;
}
.res-card{
  margin:5px;
  width:275px;
  background-color: #f0f0f0;
  padding:5px;
}
.res-card:hover{
  cursor:pointer;
  border: 1px solid black;
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
}
.res-logo{
  width:100%;
  
}
.res-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;

}
.shimmer-card{
  margin: 20px;
  width:200px;
  height:400px;
  background-color: #f0f0f0;
}
.filter{
  display: flex;
}
.login-btn{
  cursor: pointer;
}
.user-card{
  padding: 10px;
  border:1px solid black; 
}